<%= render 'shared/header' %>
<div class="reply-contents">
  <div class="reply-container">
    <div class="reply-title">
        <%= render 'shared/comment',{comment:@comment,value:@comment.standing_position_id} %>
    </div>
    <div class="reply-submit">
      <%= form_with(model:[@room, @comment, @comment_reply], local: true,id:"comment-form") do |f|%>
      <div class="room-input-box">
          <div class="comment-box-position">
            <%= f.text_area :text, placeholder:"リプライを入力" ,class:"comment_box",id:"comment_box"%>
          </div>
          <%= f.submit 'post', class:"comment_bottom_r",id:"comment_bottom_r"%>
      </div>
      <%end%>
    </div>
    <div class="reply-text">
      <% if !@comment_replies.nil?%>
        <%= render partial: "shared/comment_reply", collection: @comment_replies %>
      <%end%>
    <div>
  </div>
</div>