<%= render 'shared/header' %>
<div class="mypage">
  <div class="mypage-wrapper">

    <div class="mypage-left">
      <div class="mypage-icon">
        nickname: <%= current_user.nickname%>
      </div>
      <div class="mypage-info">
        id: <%= current_user.id%>
      </div>
    </div>

    <div class="mypage-right">
      <div class="mypage-contents">
          <ul class="maypage-top">
            <li><%= link_to "作成した議論", url:"#"%></li>
            <li><%= link_to "参加している議論", url:"#"%></li>
          </ul>

        <div class="mypage-content">
          <div class="mypage-title"></div>
          <div class="my-disscasion">
          <%# そのユーザーが￥作成したものだけを表示する %>
            <% @rooms.each do |room| %>
              <div class="my-content">
              <a href="<%= room_path(room)%>" >
                <div class="content-top">
                  <div class="contents-title">
                    <%= room.name%>
                  </div>
                </div>
              </a>
                <div class="content-percentage">
                  <div class="agree">YES: 00%</div>
                  <div class="disagree">NO: 00%</div>
                </div>

                <div class="content-bottom">
                  <div class="content-time content-bottom-list">
                    残り時間-72:00:00
                  </div>
                  <div class="content-participant content-bottom-list">
                    ０人参加
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>