<%= render 'shared/header' %>
<div class="mypage">
  <div class="mypage-wrapper">

    <div class="mypage-left">
      <div class="mypage-icon">
        <div class="mypage-user-image">
        <%if @user.image.attached?%>
          <%= image_tag @user.image.variant(resize: '300x300',gravity: "center", crop:"200x200+0+0").processed, class:"user-image"%>
        <%else%>
          <%= link_to image_tag('hito.png'),user_path(@user), class:"comment-user-image"%>
        <%end%>
        </div>
        <div class="mypage-user-name">
        <%= @user.nickname%>さん
        </div>
      </div>
      <div class="mypage-info">
        <div class="follow-info">
          <%= link_to "#{@user.followings.count}フォロー", followings_user_path(@user) %>  <br/>
          <%= link_to "#{@user.followers.count}フォロワー", followers_user_path(@user) %> 
        </div>
        <% if user_signed_in? && @user != current_user %>
          <% if @user.is_followed_by?(current_user) %>
            <%=link_to user_relationships_path(@user), method: :delete do %>
              <button type="button" class="mypage-follow-btn btn-danger">フォロー解除</button>
            <% end %>
          <% else %>
            <%=link_to user_relationships_path(@user), method: :post do %>
              <button type="button" class="mypage-follow-btn btn-primary">フォローする</button>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <% if @user == current_user %>
      <div class="mypage-edit">
          <%= link_to "編集", edit_user_registration_path%>
          </div>
      <% end %>
    </div>

    <div class="mypage-right">
      <div class="mypage-contents">
          <div class="mypage-top">
            <div class="mypage-top-a">
              <%= link_to "作成した議論一覧", user_path(@user),class:"mypage-top-link",id:"mypage-top-a1"%>
            </div>
            <div class="mypage-top-a">
              <%= link_to "参加している議論一覧", your_joined_discussions_user_path(@user),class:"mypage-top-link",id:"mypage-top-a2"%>
            </div>
          </div>

        <div class="mypage-content">
          <div class="my-discussion">
              <%= render partial: "shared/room", collection: @rooms %>
          </div>
        </div>
      </div>

      <div class="mypage-pagenation ">
          <%= paginate @rooms %>
        </div>
    </div>
  </div>
</div>