<%= render 'shared/header' %>
<div class="mypage">
  <div class="mypage-wrapper">

    <div class="mypage-left">
      <div class="mypage-icon">
      <%if user_signed_in? && current_user.id == @user.id %>
        あなたのマイページ
      <% else %>
        <%= @user.nickname%>さんのページ
      <% end %>
      </div>
      <div class="mypage-info">
        id: <%= @user.id%>
        <div>フォロー</div>
        <div>フォロワー</div>
      </div>
    </div>

    <div class="mypage-right">
      <div class="mypage-contents">
          <ul class="mypage-top">
            <li><%= link_to "作成した議論", url:"#"%></li>
            <li><%= link_to "参加している議論", url:"#"%></li>
          </ul>

        <div class="mypage-content">
          <div class="mypage-title"></div>
          <div class="my-discussion">
          <%# そのユーザーが作成したものだけを表示する %>
          <% @rooms.each do |room| %>
            <%if room.owner.owner_id == @user.id%>
              <%= render partial: "./rooms/room", locals: {room: room} %>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>