<%if comment.standing_position_id == value%>
  <div class="comment">
    <%= comment.text%>
    <%= comment.user.nickname%>
  </div>
  <% if comment.like?(current_user,comment) %>
      <%= link_to room_comment_like_path(@room.id, comment.id), method: :delete do %>
        <span style="color:red;">❤︎<%=comment.count_like(comment)%>個</span>
      <% end %>
  <% else %>
      <%= link_to room_comment_likes_path(@room.id, comment.id), method: :post do %>
        <span style="color:gray;">❤︎<%=comment.count_like(comment)%>個</span>
      <% end %>
  <% end %>
  <%if current_user == comment.user%>
    <%= link_to "編集", edit_room_comment_path(@room,comment)%>
    <%= link_to "削除", edit_room_comment_path(@room,comment)%>
  <%end%>
<%end%>