<header class='top-page-header'>
  <ul class="lists-left">
    <li><%= link_to 'YES or NO', "/" ,class:"top-logo"%> </li>
    <li><%= link_to 'Room作成', new_room_path , class: "create-room-list buttom" %></li>
    <li>
      <%= form_with(url: search_rooms_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.button type:"submit",class: 'search-button' do%>
          <i class="fas fa-search"></i>
        <%end%>
        <%= form.text_field :keyword, placeholder: "検索する", class: "input-box",id:'search-box',autocomplete: 'off',value:params[:keyword] %>
      <% end %>
    </li>
  </ul>

  <ul class='lists-right'>
      <% if user_signed_in?%>
        <li><%= link_to "#{current_user.nickname}さん", user_path(current_user), class: "name-list buttom" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout buttom"%> </li>
      <% else%>
        <li><%= link_to 'ログイン', '/users/sign_in', class: "login buttom" %></li>
        <li><%= link_to '新規登録', '/users/sign_up', class: "sign-up buttom" %></li>
      <% end%>
    </ul>
</header>