            <% @yes = 0 %>
            <% @no = 0 %>
            <% @userrooms.where(room_id:room.id).each do |userroom| %>
              <%if userroom.position != nil%>
                <%if userroom.position.standing_position_id == 1%>
                  <%@yes+=1%>
                <%elsif userroom.position.standing_position_id == 2%>
                  <%@no+=1%>
                <%end%>
              <%end%>
            <%end%>
            <%if @yes != 0 || @no != 0%>
              <% @y_percent = 100*@yes/(@yes + @no)%>
            <%end%>
      <div class="content">
        <a href="<%= room_path(room)%>" >
          <div class="content-top">
            <div class="contents-title">
              <%= room.name%>
            </div>
          </div>
        </a>
          <div class="content-percentage">
            <div class="agree">YES:
              <%if @yes != 0%><%=@y_percent%>%<%else%>0<%end%>
            </div>
            <div class="disagree">NO:
              <%if @no != 0%><%=100 - @y_percent%>%<%else%>0<%end%>
            </div>
          </div>

          <div class="content-bottom">
            <div class="content-time content-bottom-list">残り時間:
              <div class="deadline" id="<%=room.id%>" style="display:none;"><%=room.deadline%></div>
              <span id="hour<%=room.id%>"></span>時間
<span id="min<%=room.id%>"></span>分
<span id="sec<%=room.id%>"></span>秒
            </div>
            <div class="content-participant content-bottom-list">
              <%= @participants_number_hash[room.id]%>名参加
            </div>
            <div class=" content-bottom-list">
              <%= link_to "作成者：#{room.owner.name}", user_path(room.owner.owner_id),class:"content-owner" %>
            </div>
          </div>
        </div>
