<%= render 'shared/header' %>
<div class="main-wrapper">
  <div class="parts">
  <%# 検索ボックス %>
    <div class = "search-box">
      <%# <form class="search-form" action="#">
        <input class='input-box' placeholder='キーワードから探す'>
        <button class="search-button">検索画像
        </button> %>
        <%= form_with(url: search_rooms_path, local: true, method: :get, class: "search-form") do |form| %>
          <%= form.text_field :keyword, placeholder: "検索する", class: "input-box" %>
          <%= form.submit "検索", class: "search-button" %>
        <% end %>
      <%# </form> %>
    </div>
  <%# コンテンツ表示 %>
    <div class="contents-wrapper">
      
      <% @rooms.each do |room| %>
        <div class="content">
        <a href="<%= room_path(room)%>" >
          <div class="content-top">
            <div class="contents-title">
              <%= room[1]%>
            </div>
          </div>
        </a>
          <div class="content-percentage">
            <div class="agree">賛成00%</div>
            <div class="disagree">反対00%</div>
          </div>

          <div class="content-bottom">
            <div class="content-time">
              残り時間-72:00:00,参加人数
            </div>
            <div class="content-maker">
                <a href="#">作成者：<%= room[2]%></a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/footer'%>