<%= render 'shared/header' %>
<%= flash[:following] %>
<div class="main-wrapper">
  <div class="parts">
    <%# ソート機能 %>
    <div class="sort">
     <div class="sort-top">並び替え条件<span class="sort-sankaku">▼</span></div>
      <ul class="sort-lists" >
        <li>
          <%= search_form_for Room.ransack(params[:q]), url: sort_participants_rooms_path do |f| %>
            <%= f.hidden_field :title, value: @value%>
            <%= f.submit '参加人数が多い順',class:"sort-btn"%>
          <% end %>
        </li>
        <li>
          <%= search_form_for Room.ransack(params[:q]), url: sort_comments_rooms_path do |f| %>
            <%= f.hidden_field :title, value: @value%>
            <%= f.submit 'コメントが多い順',class:"sort-btn"%>
          <% end %>
        </li>
        <%if user_signed_in?%>
          <li>
            <%= search_form_for Room.ransack(params[:q]), url: sort_following_room_path(current_user) do |f| %>
              <%= f.hidden_field :title, value: @value%>
              <%= f.submit 'フォロー先が作成した議論一覧',class:"sort-btn"%>
            <% end %>
          </li>
        <%end%>
      </ul>
    </div>
    <%# コンテンツ表示 %>
    <div class="contents-wrapper">
      <%= render partial: "shared/room", collection: @rooms %>
      <div class="page-pagenation">
        <%= paginate @rooms %>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer'%>