<%= render 'shared/header' %>
<div class="main-wrapper">
  <div class="parts">
  <%# 検索ボックス %>
    <div class = "search-box">
        <%= form_with(url: search_rooms_path, local: true, method: :get, class: "search-form") do |form| %>
          <%= form.text_field :keyword, placeholder: "検索する", class: "input-box" %>
          <%= form.submit "検索", class: "search-button" %>
        <% end %>
        <div class="sort">
          <ul class="sort-lists">
            <li class="sort-btn">新規作成順</li>
            <li class="sort-btn">参加人数が多い順</li>
            <li class="sort-btn">いいねが多い順</li>
          </ul>
        </div>
    </div>
  <%# コンテンツ表示 %>
    <div class="contents-wrapper">
      <%= render partial: "room", collection: @rooms %>
    </div>
  </div>
</div>
<%= render 'shared/footer'%>