<%= render 'shared/header' %>
<div class="room-wrapper">
  <div class="room-title">
  <%= @room.name%>
  </div>
  <div class= "comments-room">
      <div class="agree-room opinion-room">
        <div class="agree-btn opinion-btn">
          <%= form_with url: standing_position_room_path(@room), local: true do |f|%>
            <%= f.hidden_field :standing_position, value:1%>
            <%= f.hidden_field :room_id, value:@room.id%>
            <%= f.submit '賛成'%>
          <%end%>
        </div>
        <div class="agree-text opinion-text">
          <% @comments.each do |comment| %>
            <div class="comment">
            <%= comment.text%>
            <%= comment.user.nickname%>
            </div>
          <% end %>
        </div>
      </div>
      <div class="disagree-room opinion-room">
        <div class="disagree-btn opinion-btn">
         <%= form_with url: standing_position_room_path(@room), local: true do |f|%>
            <%= f.hidden_field :standing_position, value:2%>
            <%= f.hidden_field :room_id, value:@room.id%>
            <%= f.submit '反対'%>
          <%end%>
        </div>
        <div class="disagree-text opinion-text"></div>
      </div>
  </div>
    <%= form_with(model: [@room, @comment], local: true) do |f|%>
        <div class="room-input-box">
            <%= f.text_area :text, placeholder:"入力してください" ,class:"comment_box"%>
            <%= f.submit '表明', class:"comment_bottom_r"%>
        </div>
    <%end%>
</div>