<%= render 'shared/header' %>
<div class="room-wrapper">
  <div class="room-title">
  <%= @room.name%>
  :<%= @participants_number%>人参加中
  </div>
  <div class= "comments-room">
      <div class="agree-room opinion-room">
        
          <%= form_with url: standing_position_room_path(@room), local: true do |f|%>
            <%# #1は賛成を示す %>
            <%= f.hidden_field :standing_position, value:1%>
            <%= f.hidden_field :room_id, value:@room.id%>
            <%= f.submit 'YES！', class:"agree-btn opinion-btn"%>
          <%end%>

        <div class="agree-text opinion-text">
        <% @comments.each do |comment| %>
            <%if comment.standing_position_id ==1%>
              <div class="comment">
              <%= comment.text%>
              <%= comment.user.nickname%>
              </div>
            <%end%>
          <% end %>
        </div>
      </div>
      <div class="disagree-room opinion-room">

         <%= form_with url: standing_position_room_path(@room), local: true do |f|%>
            <%# #2は反対を示す %>
            <%= f.hidden_field :standing_position, value:2%>
            <%= f.hidden_field :room_id, value:@room.id%>
            <%= f.submit 'NO！',class:"disagree-btn opinion-btn"%>
          <%end%>

        <div class="disagree-text opinion-text">
        <% @comments.each do |comment| %>
            <%if comment.standing_position_id ==2%>
              <div class="comment">
              <%= comment.text%>
              <%= comment.user.nickname%>
              </div>
            <%end%>
          <% end %>
        </div>
      </div>
  </div>
    <% if user_signed_in? %>
      <%= form_with(model: [@room, @comment], local: true) do |f|%>
          <div class="room-input-box">
              <div class="position-open">
                <%# #賛成反対の表示。参加していない場合も表示。 %>
                <%if @position%>
                  立ち位置:
                  <%= @position.standing_position.name%>
                <%else%>
                  <%="あなたはこの議論に参加していません"%>
                <%end%>
              </div>
              <%= f.text_area :text, placeholder:"コメントを入力してください" ,class:"comment_box"%>
              <%# <%= f.hidden_field :standing_position, value:@position.standing_position_id%> 
              <%= f.submit '表明', class:"comment_bottom_r"%>
          </div>
      <%end%>
    <%else%>
     <div class="room-input-box">
      ログインするとコメントできます
      </div>
    <%end%>

</div>