<%= render 'shared/header' %>
<div class="explanation">
  <div class="explanation-section">
    <div class="demand section section-blue">
      <h1>こういったお悩みありませんか？</h1>
      <ul class="demand-lists">
        <li>
          <h2>Case1</h2>
          <div  class="demand-image"><%= image_tag('situmon.png')%></div>
          <p> ある物・事に興味があるが、それに興味を持った人が集まらない</p>
        </li>
        <li>
          <h2>Case2</h2>
          <div  class="demand-image"><%= image_tag('kenka.png')%></div>
          <p>Twitter等のSNSを見て、人々のコミュニケーションがうまくいっていないと感じる</p>
        </li>
        <li>
          <h2>Case3</h2>
          <div  class="demand-image"><%= image_tag('kaigi.png')%></div>
          自分の意見と反対の意見に耳を傾け、見聞を広めたい
        </li>
      </ul>
    </div>
    <div class="explanation-about section section-red">
      <h1>このサイトで解決できるかもしれません</h1>
      <p>ここは、</p>
      <p>気軽にディスカッションするためのプラットフォームです</p>
      <p>皆さんが自由に議題を決め、ルームを作ることができます</p>
      <p>皆さんはルームに参加し、<br>各議題に対してコメントすることができます</p>
      <p>ただし、コメントするためには、<br>賛成・反対のポジションを取る必要があります。</p>
    </div>
    <div class="how-to-use section section-blue">
      <h1>使い方は？</h1>
        <div>①右上メニューから新規ユーザー登録</div>
          <%= image_tag('this_site/1.png',class:"how-to-use-image")%>
        <div>②ログイン後、右上のメニューよりルーム作成</div>
        <%= image_tag('this_site/2.png',class:"how-to-use-image")%>
        <div>③タイトル、開催期間を指定し、作成ボタンをタップ</div>
        <%= image_tag('this_site/3.png',class:"how-to-use-image")%>
        <div>④ルーム作成後、YES(またはNO)のポジションをゲット</div>
        <%= image_tag('this_site/4.png',class:"how-to-use-image")%>
        <div>⑤ポジションをとれたことを確認できたらコメント入力！</div>
        <%= image_tag('this_site/5.png',class:"how-to-use-image")%>
        <div>⑥＋ボタンをタップして、論点（議題に関係している別視点から話し合うべき事のこと）を追加</div>
        <%= image_tag('this_site/6.png',class:"how-to-use-image")%>
        <div>⑦論点の追加画面</div>
        <%= image_tag('this_site/7.png',class:"how-to-use-image")%>
        <div>⑧論点追加後の画面、ここでもポジションを取ってコメントしよう</div>
        <%= image_tag('this_site/8.png',class:"how-to-use-image")%>
        <div>⑨今回はNOのポジションでコメント</div>
        <%= image_tag('this_site/9.png',class:"how-to-use-image")%>
        <div>⑩最終的にはこのようなイメージとなります</div>
        <%= image_tag('this_site/10.png',class:"how-to-use-image")%>
        <div>11,残り時間が０になるとコメント不可になるので注意</div>
        <%= image_tag('this_site/11.png',class:"how-to-use-image")%>
    </div>
    <div class="send-to-registra section-red">
      <% if user_signed_in?%>
        <%= link_to 'ROOM作成', new_room_path , class: "create-room-list buttom" %>
        <%= link_to 'Topページへ', root_path, class:"buttom"%>
      <%else%>
        <%= link_to 'いますぐ新規登録して討論を始める', '/users/sign_up', class: "sign-up buttom" %>
      <%end%>
        <%= link_to 'このサイト制作者のTwitter', 'https://twitter.com/harukipow225', class:"buttom"%>
    </div>
  </div>
</div>