<%= render 'shared/header' %>
<div class="explanation">
  <div class="explanation-section">
    <div class="demand section section-blue">
      <h1>こういったお悩みありませんか？</h1>
      <ul class="demand-lists">
        <li>
          <h2>Case1</h2>
          <div  class="demand-image"><%= image_tag('situmon.png')%></div>
          <p> ある物・事に興味があるが、それに興味を持った人が集まらない</p>
        </li>
        <li>
          <h2>Case2</h2>
          <div  class="demand-image"><%= image_tag('kenka.png')%></div>
          <p>Twitter等のSNSを見て、人々のコミュニケーションがうまくいっていないと感じる</p>
        </li>
        <li>
          <h2>Case3</h2>
          <div  class="demand-image"><%= image_tag('kaigi.png')%></div>
          自分の意見と反対の意見に耳を傾け、見聞を広めたい
        </li>
      </ul>
    </div>
    <div class="explanation-about section section-red">
      <h1>このサイトで解決できるかもしれません</h1>
      <p>ここは、気軽にディスカッションするためのプラットフォームです</p>
      <p>ここでは、皆さんが自由に議題を決め、ルームを作ることができます</p>
      <p>皆さんはルームに参加し、各議題に対してコメントすることができます</p>
      <p>ただし、コメントするためには賛成・反対のポジションを取る必要があります。</p>
    </div>
    <div class="how-to-use section section-blue">
      <h1>使い方は？</h1>
        <div>①ユーザー登録</div>
        <div>②議題設定、ルーム作成</div>
        <div>③賛成・反対のポジションをとってコメント</div>
        <div>④論点を管理</div>
        <div>⑤残り時間が０になるとコメント不可</div>
    </div>
    <div class="send-to-registra section-red">
      <% if user_signed_in?%>
        <%= link_to 'ROOM作成', new_room_path , class: "create-room-list buttom" %>
        <%= link_to 'Topページへ', root_path, class:"buttom"%>
      <%else%>
        <%= link_to 'いますぐ新規登録して討論を始める', '/users/sign_up', class: "sign-up buttom" %>
      <%end%>
        <%= link_to 'このサイト制作者のTwitter', 'https://twitter.com/harukipow225', class:"buttom"%>
    </div>
  </div>
</div>